/* Disable horizontal scrolling */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar .hidden {
	display: none;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

video {
	width: 1536px;
	height: 864px;
}

