html {
	scroll-behavior: smooth;
}

/* Disable horizontal scrolling */
html, body {
    max-width: 100%;
    overflow-x: hidden;
	margin: 0;
}

.navbar {
	/*
	margin: 0;
	padding: 0;
	position: sticky;
	*/
	background-color: #333;
	position: fixed;
	top: 0;
	z-index: 100;
	float: left;
	/* width: 100%; */
}

.navbar .hidden {
	display: none;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*
	background-color: #333;
	*/

	/*
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	*/
}

.navbar li {
	float: left;
	border-right: 1px solid #bbb;
	
}

.navbar li:hover {
	background-color: #111;
}

/* Doesn't work yet */
.navbar li .float_right {
	float: left;
}

/*
.navbar li:last-child {
	border-right: none;
}
*/

.navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar li a:hover:not(.active) {
	background-color: rgb(0, 0, 255, 0.15);
}

.navbar .active {
	background-color: #4CAF50;
	color: white;
}

.large {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 5em;
	padding-bottom: 40px;
}

video {
	width: 100%;
	height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1, h2, h3 {
	text-align: center;
	font-family: Verdana, Helvetica, sans-serif;
}

p {
	margin-left: 40px;
	font-family: Courier;
	font-size: 20px;
}

iframe {
	background-color: #FFFFFF; /* Need this CSS style to overwrite *this* index.html's #portfolio's bg color */
	margin: auto;
	height: 800;
	width: 800;
	display: block;
}

#navbar_name_container {
	
}

#navbar_name {
	font-size: 15px;
	font-family: sans-serif;
	color: white;
}

#header {
	width: 100%;
	transition: background-color 3s;
	background-color: rgb(230, 230, 250); /* lavender */
	padding: 15px 15px 100px 15px;
}

#header:hover {
	background-color: rgb(130, 130, 250); /* light-ish blue */
}

#about {
	width: 100%;
	transition: background-color 3s;
	background-color: rgb(255, 230, 230);
	padding: 15px 0px;
}

#about:hover {
	background-color: rgb(255, 120, 150);
}

#portfolio {
	width: 100%;
	transition: background-color 3s;
	background-color: rgb(255, 215, 0, 0.1);
	padding: 15px 0px;
}

#portfolio:hover {
	background-color: rgb(255, 215, 0, 1);
}

#contact {
	padding: 15px 0px;
	background-color: lavender;
	transition: background-color 3s;
}

#contact:hover {
	background-color: rgb(50, 50, 230);
}




