.video_container {
	position: relative;
    width: 300px;
	height: 200px;
    display: inline-block;
    margin: 10px;
	overflow: hidden;
}

.video {
    position: absolute; 
    top: 0;
	left: 0;
    width: 100%;
	height: 100%; 
    z-index: -1;
} 
  
.content_inside_video {
    position:absolute;
    top: 0;
	left: 0;
    background: black;
    color: white;
}