.node {
	position: absolute;
	z-index: 9;
	background-color: #f1f1f1;
	text-align: center;
	border: 1px solid #d3d3d3;
}

.nodeheader {
	padding: 10px;
	cursor: move;
	z-index: 10;
	background-color: #2196F3;
	color: #fff;
}

.inlet {
	background-color: green;
	position: absolute;
	top: 50px;
	left: -30px;
}

.outlet {
	background-color: blue;
	position: absolute;
	top: 50px;
	left: 160px;
}